#result {
    border: dashed 1px;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;
}

#generate-button {
    color: white;
    background-color: red;
    border-radius: 5px;
}

#clipboard-button {
    color: white;
    background-color: grey;
    border-radius: 5px;
}